{% extends "projectile/base_admin.html" %} {% block content %}
<div class="jumbotron">
    <div align="text-center" class="container">
        <br/>
        <br/>
        <h1>{{ project.name }}</h1>
    </div>
</div>
<div class="container">
    <div class="well well-lg">
        <div class="row vertical-divider">
            <div class="col-xs-6">
                {{ project.description}}
            </div>
        </div>
        <a href="/project/{{ project.pk }}/edit">
            <button type="button" class="btn btn-warning">Edit</button>
        </a>
        <a href="/project/{{ project.pk }}/applicants">
            <button type="button" class="btn btn-info">View Applicants</button>
        </a>
        <a href="/project/{{ project.pk }}/selections">
            <button type="button" class="btn btn-success">Select Applicants</button>
        </a>
        <a href="/project/{{ project.pk }}/delete">
            <button type="button" class="btn btn-danger">Delete this Job</button>
        </a>
    </div>
</div>
{% endblock %}
