{% extends "projectile/base_admin.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<!-- <br/> -->
<!-- <div class="container"> -->
<div style="margin-bottom: 0px;" class="well">
    <!-- <img src="../../static/images/project.jpeg" class="img-responsive" alt="Image"> -->
    <div class="container">
        <ol style="background: transparent;" class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">{{ project.name }} </li>
        </ol>
        <div style="margin-top: -20px;" class="row">
            <div class=" col-sm-10 col-md-10 col-lg-10">
                <div class="container">
                    <h1><B>{{ project.name }}</B></h1>
                    <h4>{{ project.interest_areas }}</h4>
                    <h4>{{ project.project_type }}</h4>
                    <h4>8/12 Credits</h4>
                </div>
            </div>
            <div style="margin-top: 30px;" class=" col-sm-2 col-md-2 col-lg-2">
                <a href="/project/{{ project.pk }}/edit">
                    <button type="button" style="width:120px; height:40px" class="btn btn-primary">Edit</button>
                </a>
                <a href="/project/{{ project.pk }}/delete">
                    <button type="button" style="width:120px; height:40px" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
    </div>
    <br/>
</div>
<style type="text/css">
.nav-tabs .active {
    background-color: #000;
}

.nav-tabs .active li > a {
    color: #000 !important;
    border-bottom: 0px;
}
</style>
<div class="row">
    <div class="panel with-nav-tabs panel-primary">
        <div style="padding: 0px;" class="panel-heading">
            <ul class="nav nav-tabs nav-justified" style="border-bottom: 0px; text-align: center;">
                <li class="active"><a href="#tab1primary" data-toggle="tab">About</a></li>
                <li><a href="#tab2primary" data-toggle="tab">Requests</a></li>
            </ul>
        </div>
        <div style="padding-bottom: 0px; background-color: rgb(235,235,235); box-shadow: 0;" class="panel-body">
            <br/>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1primary">
                    <div class="container">
                        <div class="row">
                            <div class=" col-sm-8 col-md-8 col-lg-8">
                                <!-- about section -->
                                <div style="padding-left: 35px;padding-right: 35px;" class="well" id="aboutSection">
                                    <!-- <div class="container"> -->
                                    <h3 style="font-weight: 500; letter-spacing: .025em;">About</h3>
                                    <hr style="width: 100%; height: 2px; background-color:#00796B;" />
                                    <p>{{project.description}}</p>
                                    <br/>
                                    <h3 style="font-weight: 500; letter-spacing: .025em;">Eligibility Criteria</h3>
                                    <hr style="width: 100%;  height: 2px; background-color:#00796B;" />
                                    <p>{{project.eligibility_criteria}}</p>
                                    <br/>
                                    <h3 style="font-weight: 500; letter-spacing: .025em;">Current Status</h3>
                                    <hr style="width: 100%;  height: 2px; background-color:#00796B;" />
                                    <p>{{project.progress_till_date}}</p>
                                    <br/>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class=" col-sm-4 col-md-4 ocl-lg-4">
                                <div style="padding: 35px; margin-right: 28px" class="well">
                                    <h3 style="margin-top: -5px; font-weight: 500; letter-spacing: .025em;">Students</h3>
                                    <div style="padding-top:20px; padding-bottom: 20px;" class="row">
                                        <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                                            <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                                            </div>
                                        </a>
                                        <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                                            <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                                            </div>
                                        </a>
                                        <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                                            <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                                            </div>
                                        </a>
                                        <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                                            <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                                            </div>
                                        </a>
                                        <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                                            <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                                            </div>
                                        </a>
                                        <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                                            <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2primary">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button style="color: white;" type="button" data-toggle="dropdown" class=" btn btn-primary dropdown-toggle pull-right">SORT<span style="margin-left: 20%; color: white;" class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Recent</a></li>
                                    <li><a href="#">CGPA</a></li>
                                    <li><a href="#">Year</a></li>
                                    <li><a href="#">Experience</a></li>
                                    <li><a href="#">Project</a></li>
                                </ul>
                            </div>
                        </div>
                        <div style="padding-left: 35px;padding-right: 35px;" class="well" id="aboutSection">
                            <div class="container">
                                {% if applicants %}{% for applicant in applicants %}
                                <div class="row">
                                    <div class="col-xs-4 `col-sm-4 col-md-4 col-lg-4">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <img src="/files/{{applicant.display_picture}}" alt="Image" style="height: 100px; width: 170px;margin-top: 12px">
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <h4>{{applicant.name}}</h4>
                                                <h5>{{applicant.rollno}}</h5>
                                                <h5>{{applicant.course_enrolled}} {{applicant.batch_year}} ({{applicant.course_stream}})</h5>
                                                <h5>{{applicant.email}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <h6>View Statement of Purpose</h6>
                                        <h6>View Queries</h6>
                                        <h6>View Profile
                                         Open student modal </h6>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="row">
                                            <div style="float: right; margin-left: 10px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <!-- <button type="button" class="btn btn-danger">Reject</button> -->
                                                <button type="button" class="btn btn-primary">Reject (remove from the project)</button>
                                            </div>
                                            <div style="float: right; margin-left: 10px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <!-- <button type="button" class="btn btn-success">Approve</button> -->
                                                <button type="button" class="btn btn-primary">Approve (send professor to /selectapplicants)</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %} {% endif %}
                                <a class="btn btn-primary" href="/project/{{ project.pk }}/getresume/?req=applied">Download Resumes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
