{% extends "projectile/base_admin.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <h3><b>MY PROJECTS</b></h3>
            <hr style="height: 2px; background-color:#00796B;" /> {% if not my_projects %}
            <h4 align="text-center">There are no projects available right now.</h4> {% endif %}
            <div class="row">
                {% for project in my_projects %}
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="card">
                        <div class="card-height-indicator"></div>
                        <div class="card-content">
                            <div class="card-image">
                                <a href="/project/{{project.pk}}/"> <img src="/files/{{ project.image_file }}" alt="Loading image...">
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="/project/{{project.pk}}/">
                                    <h4 style="margin-top: -2px">{{project.name}}</h4>
                                </a>
                                <h5>{{ project.get_project_type_display }}</h5>
                                <div id="apply{{project.pk}}">
                                    <a href="/project/{{ project.pk }}/edit">
                                        <button class="btn btn-warning btn-fab btn-raised mdi-content-create"></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="well" style="background-color: #00796B">
                <h3 class="text-center" style="color: white;">NOTIFICATIONS </h3>
                <hr class="divider" /> {% if not notifications %}
                <h4 class="text-center" style="color: white;" align="text-center">There are no notifications right now.</h4> {% endif %} {% for n in notifications %}
                <div class="row">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
