{% extends "projectile/base_modals.html" %} {% block content %}
<div class="jumbotron">
    <div align="center" class="container">
        <h1>My Applications</h1>
    </div>
</div>
{% for project in projects %}
<div class="panel panel-default">
    <a href="/project/{{ project.pk }}" class="list-group-item">
        <h6 class="list-group-item-heading">{{ project.company_name }}</h6>
        <h6 class="list-group-item-heading">{{ project.profile }}</h6>
        <p class="list-group-item-text">{{ project.details }}</p>
    </a>
</div>
{% endfor %} {% if not projects %}
<div class="container">
    <h4 style="margin-left:7em">You haven't applied to any projects.</h4>
</div>
{% endif %} {% endblock %}
