{% extends "projectile/base_student.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<!-- <br/> -->
<!-- <div class="container"> -->
<div class="well">
    <!-- <img src="../../static/images/project.jpeg" class="img-responsive" alt="Image"> -->
    <div class="container">
        <ol style="background: transparent;" class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">Project Title</li>
        </ol>
        <div style="margin-top: -20px;" class="row">
            <div class=" col-sm-10 col-md-10 col-lg-10">
                <div class="container">
                    <h1><B>{{ project.name }}</B></h1>
                    <h4>{{ project.project_type }}</h4>
                    <h4>4/8/12 credits</h4>
                    <!-- <h4>B.Tech Project</h4>
                    <h4>8/12 Credits</h4> -->
                </div>
            </div>
            <div style="margin-top: 30px;" class=" col-sm-2 col-md-2 col-lg-2">
                {% if hasapplied %} {% if not deadlinepassed %}
                <a href="/project/{{ project.pk }}/withdraw">
                <button type="button" class="btn btn-small btn-danger"><b>WITHDRAW</b></button>
                </a>
                {% endif %} {% else %} {% if deadlinepassed %}
                <h3>Deadline has passed!</h3> {% elif not iseligible %} {% for reason in iseligiblereasons %}
                <h3>{{reason}}</h3>
                {% endfor %} {% else %}
                <button id="apply" type="button" class="btn btn-small btn-success"><b>APPLY</b></button>
                {% endif %} {% endif %}
            </div>
            <script>
                // $("#withdraw").on('click', function() {
                //     $("#withdrawdata").load("{% url 'withdraw' projectid=project.pk %}", function(responseTxt, statusTxt, xhr) {
                //         if (statusTxt == "success")
                //         // alert("External content loaded successfully!");
                //             $("#withdrawmodal").modal('show');
                //         if (statusTxt == "error")
                //             alert("Error: " + xhr.status + ": " + xhr.statusText);
                //     });
                // })
                $("#apply").on('click', function() {
                    $("#applydata").load("{% url 'apply' projectid=project.pk %}", function(responseTxt, statusTxt, xhr) {
                        if (statusTxt == "success")
                        // alert("External content loaded successfully!");
                            $("#applymodal").modal('show');
                        if (statusTxt == "error")
                            alert("Error: " + xhr.status + ": " + xhr.statusText);
                    });
                })
            </script>
        </div>
    </div>
    <br/>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class=" col-sm-8 col-md-8 col-lg-8">
            <div style="padding: 35px;" class="well">
                <!-- <div class="container"> -->
                <h3 style="font-weight: 500; letter-spacing: .025em;">About</h3>
                <hr style="width: 100%; height: 2px; background-color:#005A6A;" />
                <br/>
                <h3 style="font-weight: 500; letter-spacing: .025em;">Eligibility Criteria</h3>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <br/>
                <h3 style="font-weight: 500; letter-spacing: .025em;">Current Status</h3>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <br/>
                <!-- </div> -->
            </div>
        </div>
        <div class=" col-sm-4 col-md-4 ocl-lg-4">
            <div style="padding: 35px;" class="well">
                <h3 style="font-weight: 500; letter-spacing: .025em;">Professors(s)</h3>
                <div style="padding-top:20px; padding-bottom: 20px;" class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <p></p>
                        <p>PK</p>
                        <p>Full Time Faculty</p>
                        <p>Privacy, Security and HCI</p>
                    </div>
                </div>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <h3 style="margin-top:40px; font-weight: 500; letter-spacing: .025em;">PHDs and Students</h3>
                <div style="padding-top:20px; padding-bottom: 20px;" class="row">
                    <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                        <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                        </div>
                    </a>
                    <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                        <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                        </div>
                    </a>
                    <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                        <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                        </div>
                    </a>
                    <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                        <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                        </div>
                    </a>
                    <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                        <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                        </div>
                    </a>
                    <a href="#profilemodal" data-toggle="modal" data-target="#profilemodal" id="profile">
                        <div style="margin-bottom: 20px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
