{% extends "projectile/base_modals.html" %} {% load bootstrap3 %} {% block pagelibraries %} {{ form.media }} {% endblock %} {% block content %}
<br/>
<button style="margin-top: -15px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<div style="padding: 20px;" class="container-fluid">
    <div style="margin-top: -15px;" class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
        </div>
        <div style="margin-top: -15px;" class="col-sm-8 col-md-8 col-lg-8">
            <h3 style="font-weight: 500; letter-spacing: .025em;">Student Name #1</h3>
            <h5 style="font-weight: 500; ">B.Tech</h5>
            <h5 style="font-weight: 500; ">CSE (4th year)</h5>
            <h5 style="font-weight: 500; ">kartik13050@iiitd.ac.in</h5>
            <h5 style="font-weight: 500;">2013050</h5>
        </div>
    </div>
    <br/>
    <h3 style="font-weight: 500; letter-spacing: .025em;">Ongoing Projects</h3>
    <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
    <p>Present Project #1</p>
    <p>Present Project #2</p>
    <br/>
    <h3 style="font-weight: 500; letter-spacing: .025em;">Past Projects</h3>
    <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>Past Project #1</p>
            <p>Past Project #1</p>
            <p>Past Project #1</p>
            <p>Past Project #1</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>Past Project #1</p>
            <p>Past Project #1</p>
            <p>Past Project #1</p>
            <p>Past Project #12</p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
        </div>
    </div> -->
</div>
{% endblock %}
