{% extends "projectile/base_student.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<!-- <br/> -->
<!-- <div class="container"> -->
<div class="well" style="background-color: #459DAD">
    <div class="container">
        <ol class="breadcrumb" style="background-color: #459DAD;">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Professors</a>
            </li>
            <li class="active">Prof X</li>
        </ol>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="container" style="color: white">
                    <h3>Prof X</h3>
                    <h4>Computer Vision</h4>
                    <h4>Visiting Faculty</h4>
                    <h4>Visiting Faculty</h4>
                    <h4>faculty@iiitd.ac.in | B-404</h4>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="well">
                <h3>ABOUT</h3>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <h3>RESEARCH INTERESTS</h3>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <h3>TEACHING INTERESTS</h3>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="well">
                <h3>ONGOING PROJECTS</h3>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <h3>PAST PROJECTS</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
