{% extends "projectile/base_modals.html" %} {% load bootstrap3 %} {% block pagelibraries %} {{ form.media }} {% endblock %} {% block content %}
<br/>
<button style="margin-top: -15px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<div class="container-fluid">

    <div class="row">
        <h3 style="margin-top: 0px;" align="center"><B>Apply for Project Title #1
        </B></h3>
    </div>
    <br/>
    <div class="row">
    	<h4 style="font-weight: 500; letter-spacing: .025em;">Eligiblity Criteria</h4>
    	<hr style="width: 100%;  height: 2px; background-color:#005A6A;" />	
    </div>
    <div class="row">
    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's dummy text</p>
    </div>
    <br/>
    <div class="row">
    	<h4 style="font-weight: 500; letter-spacing: .025em;">Statement of Purpose*</h4>
    	<hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
        <textarea rows="4" style="width: 100%" placeholder="Enter your SOP here"></textarea>
    </div>
    <!-- <div class="row">

  		<div style="padding: 0px;" class="col-lg-9">
            <input type="text" class="form-control">
        </div>
        <div style="padding: 0px; "  class="col-lg-3">
            <button style="margin-top: -7px; float: left;" type="button" class="btn btn-small btn-primary"><b>Upload</b></button>
        </div>
  		<!-- /.col-lg-6 -->
	<!-- </div> --> <!-- /.row -->
    <br/>
	<div class="row">
		<h4 style="font-weight: 500; letter-spacing: .025em;">Questions?</h4>
		<hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
		<textarea rows="4" style="width: 100%" placeholder="Enter your queries here"></textarea>
	</div>
    <br/>
    <div class="row">
        <button style="margin-right: 40%" type="button" class="btn btn-small btn-primary"><b>Apply</b></button>
    </div>
    <br/>
</div>
{% endblock %}
