{% extends "projectile/base_student.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3>MY PROJECTS</h3>
            <!-- <hr class="divider"> -->
            <hr style="width: 100%;  height: 2px; background-color:#005A6A;" /> {% if not projects %}
            <h4 align="text-center">You haven't opted for any projects.</h4> 
            <!-- <div class="row">
                {% for project in projects %} {% if project.deadlineexpired %}
                <div class="col-xs-12 col-md-3">
                    <div class="panel panel-danger">
                        {% elif not project.deadlineexpired %}
                        <div class="panel panel-primary">
                            {% endif %}
                            <div class="panel-heading" data-toggle="collapse" aria-expanded="false" href="#collapseExample{{ project.pk }}" aria-controls="collapseExample{{ project.pk }}">
                                <h3 class="panel-title">{{ project.company_name }}</h3>
                            </div>
                            <div class="panel-body collapse" id="collapseExample{{ project.pk }}">
                                <a href="/project/{{ project.pk }}"><h6>{{ project.profile }}</h6></a>
                                <h6>Posted on: {{ project.createdon }}</h6>
                                <h6>Date of Visit: {{ project.dateofvisit }}</h6>
                                <div class="panel-footer">
                                    Deadline: {{ project.deadline }} {% if project.deadlineexpired %}
                                    <span class="label label-danger">
                        {{ project.deadline|naturaltime }}
                        {% elif not project.deadlineexpired %}
                        <span class="label label-success"> {{ project.deadline|naturaltime }}</span> {% endif %}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> -->
        </div>
    </div>
    <br/>
    
    {% endif %}
    <br/>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3>RECOMMENDED PROJECTS</h3>
            <hr style="width: 100%; color: #005A6A; height: 2px; background-color:#005A6A;" />
            <!-- {% if not projects %}
            <h4 align="text-center">There are no projects available right now.</h4> {% endif %} -->
            <div class="center">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Project #1</h3>
                            </div>
                            <div class="panel-body" id="collapseExample{{ project.pk }}">
                                <a href="/project/{{ project.pk }}"><h6>CSE</h6></a>
                                <h6>Posted on: Jan 6, 2017</h6>
                               
                            </div>
                             <div class="panel-footer">
                                    Deadline: Aug 6, 2017
                                    <span class="label label-success"> Aug 6, 2017 </span>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Project #1</h3>
                            </div>
                            <div class="panel-body" id="collapseExample{{ project.pk }}">
                                <a href="/project/{{ project.pk }}"><h6>CSE</h6></a>
                                <h6>Posted on: Jan 6, 2017</h6>
                                
                            </div>
                            <div class="panel-footer">
                                    Deadline: Aug 6, 2017
                                    <span class="label label-success"> Aug 6, 2017 </span>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Project #1</h3>
                            </div>
                            <div class="panel-body" id="collapseExample{{ project.pk }}">
                                <a href="/project/{{ project.pk }}"><h6>CSE</h6></a>
                                <h6>Posted on: Jan 6, 2017</h6>
                                
                            </div>
                            <div class="panel-footer">
                                    Deadline: Aug 6, 2017
                                    <span class="label label-success"> Aug 6, 2017 </span>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Project #1</h3>
                            </div>
                            <div class="panel-body" id="collapseExample{{ project.pk }}">
                                <a href="/project/{{ project.pk }}"><h6>CSE</h6></a>
                                <h6>Posted on: Jan 6, 2017</h6>
                                
                            </div>
                            <div class="panel-footer">
                                    Deadline: Aug 6, 2017
                                    <span class="label label-success"> Aug 6, 2017 </span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="margin-bottom: -12px;" class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h3 style="font-weight: bold; letter-spacing: .1em;">All Projects</h3>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                
            <button style="margin-bottom: -12px;" id="filter" type="button" class="btn btn-sm btn-primary pull-right">Filter</button>
            </div>
            </div>
            <hr style="width: 100%; color: #005A6A; height: 2px; background-color:#005A6A;" />
            <div class="center">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <!-- <div class="panel-heading">
                                <h3 class="panel-title">Project #1</h3>
                            </div> -->
                            <a href=""><img src="../../static/images/project.jpeg" class="img-responsive" alt="Image"></a>
                            
                            <div class="panel-body" id="collapseExample{{ project.pk }}">
                                <a style="text-decoration: none;" href="/project/{{ project.pk }}"><h3>Project Name </h3></a>
                                <p>Independent Project </p>
                                <h6>Posted on: Jan 6, 2017</h6>
                                
                            </div>
                            <div style="background-color: green; text-align: center;" class="panel-footer">
                                    <!-- <span style="color: white; font-weight: normal;">Available</span> -->
                                    <span id="apply" style="color: white; font-weight: bold;"> APPLY </span>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <!-- <div class="panel-heading">
                                <h3 class="panel-title">Project #1</h3>
                            </div> -->
                            <a href=""><img src="../../static/images/project.jpeg" class="img-responsive" alt="Image"></a>
                            
                            <div class="panel-body" id="collapseExample{{ project.pk }}">
                                <a style="text-decoration: none;" href="/project/{{ project.pk }}"><h3>Project Name </h3></a>
                                <p>Independent Project </p>
                                <h6>Posted on: Jan 6, 2017</h6>
                                
                            </div>
                            <div style="background-color: green; text-align: center;" class="panel-footer">
                                    <!-- <span style="color: white; font-weight: normal;">Available</span> -->
                                    <span id="apply" style="color: white; font-weight: bold;"> APPLY </span>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <!-- <div class="panel-heading">
                                <h3 class="panel-title">Project #1</h3>
                            </div> -->
                            <a href=""><img src="../../static/images/project.jpeg" class="img-responsive" alt="Image"></a>
                            
                            <div class="panel-body" id="collapseExample{{ project.pk }}">
                                <a style="text-decoration: none;" href="/project/{{ project.pk }}"><h3>Project Name </h3></a>
                                <p>Independent Project </p>
                                <h6>Posted on: Jan 6, 2017</h6>
                                
                            </div>
                            <div style="background-color: green; text-align: center;" class="panel-footer">
                                    <!-- <span style="color: white; font-weight: normal;">Available</span> -->
                                    <span id="apply" style="color: white; font-weight: bold;"> APPLY </span>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <!-- <div class="panel-heading">
                                <h3 class="panel-title">Project #1</h3>
                            </div> -->
                            <a href=""><img src="../../static/images/project.jpeg" class="img-responsive" alt="Image"></a>
                            
                            <div class="panel-body" id="collapseExample{{ project.pk }}">
                                <a style="text-decoration: none;" href="/project/{{ project.pk }}"><h3>Project Name </h3></a>
                                <p>Independent Project </p>
                                <h6>Posted on: Jan 6, 2017</h6>
                                
                            </div>
                            <div style="background-color: green; text-align: center;" class="panel-footer">
                                    <!-- <span style="color: white; font-weight: normal;">Available</span> -->
                                    <span id="apply" style="color: white; font-weight: bold;"> APPLY </span>
                                </div>
                        </div>
                    </div>
                

                    <!-- <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Project #1</h3>
                                </div>
                                <div class="panel-body" id="collapseExample{{ project.pk }}">
                                    <a href="/project/{{ project.pk }}"><h6>CSE</h6></a>
                                    <h6>Posted on: Jan 6, 2017</h6>
                                    
                                </div>
                                <div class="panel-footer">
                                        Deadline: Aug 6, 2017
                                        <span class="label label-success"> Aug 6, 2017 </span>
                                    </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="filtermodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body" id="filterdata">
            </div>
        </div>
    </div>
</div>
{% endblock %}
