{% extends "projectile/base_student.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<!-- <br/> -->
<!-- <div class="container"> -->
<div class="well">
    <div class="container">
        <ol style="background: transparent;" class="breadcrumb" style="background-color: #459DAD;">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/professor">Professors</a>
            </li>
            <li class="active">{{ professor.name }}</li>
        </ol>
        <div style="margin-top: -20px;" class="row">
            <div class="col-sm-10 col-md-10 col-lg-10">
                <div class="container">
                    <h1><b>{{ professor.name }}</b></h1>
                    <h4>{{ professor.interest_areas }}</h4>
                    <h4>{{ professor.email }}</h4>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="circle-avatar" style="background-image:url(/files/{{ professor.display_picture }})">
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div style="padding: 35px;" class="well">
                <h3 style="font-weight: 500; letter-spacing: .025em;">About</h3>
                <hr style="width: 100%;  height: 2px; background-color:#00796B;" />
                {{professor.about}}
                <h3 style="font-weight: 500; letter-spacing: .025em;">Research Interests</h3>
                <hr style="width: 100%;  height: 2px; background-color:#00796B;" />
                <h3>{{professor.interest_areas}} </h3>

            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div style="padding: 35px;" class="well">
                <h3 style="font-weight: 500; letter-spacing: .025em;">Ongoing Projects</h3>
                <hr style="width: 100%;  height: 2px; background-color:#00796B;" /> {% for project in professor.projects_mentored.all %}
                <h4><a href="/project/{{project.pk}}">{{project.name}}</a></h4> {% endfor %}
                <h3 style="margin-top:40px; font-weight: 500; letter-spacing: .025em;">Past Projects</h3>
                <hr style="width: 100%;  height: 2px; background-color:#00796B;" /> {% for project in professor.projects_mentored.all %} {% if project.status == 'C' %}
                <h4><a href="/project/{{project.pk}}">{{project.name}}</a></h4> {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
