{% extends "projectile/base_student.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <h3><b>MY PROJECTS</b></h3>
        <hr style="width: 100%;  height: 2px; background-color:#00796B;" />
        <div class="row">
            {% for project in my_projects %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="card">
                    <div class="card-height-indicator"></div>
                    <div class="card-content">
                        <div class="card-image">
                            <a href="/project/{{project.pk}}/"> <img src="/files/{{ project.image_file }}" alt="Loading image...">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="/project/{{project.pk}}/">
                                <h3 style="margin-top: -2px">{{project.name}}</h3>
                            </a>
                            <h4>{{ project.get_project_type_display }}</h4>
                            <a href="/project/{{ project.pk }}/withdraw">
                                <button class="btn btn-danger btn-fab btn-raised mdi-content-clear" style="margin-top: -4px"></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br/>
    <div class="row">
        <h3><b>ALL PROJECTS</b></h3>
        <hr style="width: 100%; color: #00796B; height: 2px; background-color:#00796B;" /> {% if not all_projects %}
        <h4 align="text-center">There are no projects available right now.</h4> {% endif %}
        <div class="row">
            {% for project in all_projects %} {% if not project in my_projects %}
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="card">
                    <div class="card-height-indicator"></div>
                    <div class="card-content">
                        <div class="card-image">
                            <a href="/project/{{project.pk}}/"> <img src="/files/{{ project.image_file }}" alt="Loading image...">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="/project/{{project.pk}}/">
                                <h3 style="margin-top: -2px">{{project.name}}</h3>
                            </a>
                            <h4>{{ project.get_project_type_display }}</h4> {% if project.status == 'O' %}
                            <div id="apply{{project.pk}}">
                                <!--                                 <a href="/project/{{ project.pk }}/apply">
 -->
                                <button class="btn btn-success btn-fab btn-raised mdi-content-add" style="margin-top: -4px"></button>
                                <!-- </a> -->
                            </div>
                            {% elif project.status == 'A' %}
                            <a href="/project/{{ project.pk }}/">
                                <button class="btn btn-warning btn-fab btn-raised mdi-action-info" style="margin-top: -4px"></button>
                            </a>
                            {% elif project.status == 'C' %}
                            <a href="/project/{{ project.pk }}/">
                                <button class="btn btn-warning btn-fab btn-raised mdi-action-info" style="margin-top: -4px"></button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <script>
                $("#apply{{project.pk}}").on('click', function() {
                    $("#applydata").load("/apply/{{project.pk}}", function(responseTxt, statusTxt, xhr) {
                        if (statusTxt == "success")
                        // alert("External content loaded successfully!");
                            $("#applymodal").modal('show');
                        if (statusTxt == "error")
                            alert("Error: " + xhr.status + ": " + xhr.statusText);
                    });
                })
                </script>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
