{% extends "projectile/base_modals.html" %} {% load bootstrap3 %} {% block pagelibraries %} {{ form.media }} {% endblock %} {% block content %}
<br/>
<div class="container-fluid">
    <div class="row">
        <h3 align="center"><B>PROJECT TITLE #1
        </B></h3>
    </div>
    <div class="row">
    	<h4><B>Eligiblity Criteria</B></h4>
    	<hr style="width: 100%;  height: 2px; background-color:#005A6A;" />	
    </div>
    <div class="row">
    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's dummy text</p>
    </div>
    <div class="row">
    	<h4><B>Statement of Purpose*</B></h4>
    	<hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
    </div>
    <div class="row">
  		<div class="col-lg-12">
    		<div class="input-group">
      			<input type="text" class="form-control">
      			<span class="input-group-btn">
        			<button type="button" class="btn btn-primary">Upload</button>
      			</span>
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	<div class="row">
		<h4><B>Questions?</B></h4>
		<hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
		<textarea rows="4" cols="66">
		</textarea>
	</div>
</div>
{% endblock %}
