{% extends "projectile/base_student.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<!-- <br/> -->
<!-- <div class="container"> -->
<div class="well">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">Project Title</li>
        </ol>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="container">
                    <h1><B>Project Title #1</B></h1>
                    <h4>Computer Vision</h4>
                    <h4>BTech Project</h4>
                    <h4>8/12 Credits</h4>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button type="button" id="apply" class="btn btn-primary">Apply</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="well">
                <h3>ABOUT</h3>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <h3>ELIGIBLITY CRITERIA</h3>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <h3>CURRENT STATUS OF PROJECT</h3>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 ocl-lg-4">
            <div class="well">
                <h3>PROFESSOR(s)</h3>
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <p></p>
                        <p>PK</p>
                        <p>Full Time Faculty</p>
                        <p>Privacy, Security and HCI</p>
                    </div>
                </div>
                <hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
                <h3>PHDs and STUDENTS</h3>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
