{% extends "projectile/base_student.html" %} {% load humanize %} {% block content %}
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3 style="font-weight: bold; letter-spacing: .05em;">Professor(s) I am working with</h3>
            <hr style="width: 100%; color: #005A6A; height: 2px; background-color:#005A6A;" />
            <h5 align="text-center"></h5> {% if not proffessors %}
            <h4 align="text-center">You aren't working with any professor right now.</h4> {% endif %}
            <div class="row">
                {% for professor in all_professors %}
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="panel panel-primary">
                        <a href=""><img src="/files/{{ professor.display_picture }}" class="img-responsive" alt="Image"></a>
                        <div class="panel-body" id="collapseExample{{ professor.pk }}">
                            <a style="text-decoration: none;" href="/professor/{{professor.pk}}/"><h4>{{ professor.name }} </h4></a>
                            <p>{{ professor.professor_type }}</p>
                            <p>{{ professor.interest_areas }}</p>
                            <p>Posted on: {{ professor.createdon}}</p>
                            <!-- <p>Deadline: {{ professor.deadline}}</p> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3 style="font-weight: bold; letter-spacing: .05em;">Recommended Professors</h3>
            <hr style="width: 100%; color: #005A6A; height: 2px; background-color:#005A6A;" /> {% if not proffessors %}
            <h4 align="text-center">There are no proffessors available right now.</h4> {% endif %}
            <div class="row">
                {% for professor in professors %}
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="panel panel-primary">
                        <a href=""><img src="files/{{ professor.image_file }}" class="img-responsive" alt="Image"></a>
                        <div class="panel-body" id="collapseExample{{ professor.pk }}">
                            <a style="text-decoration: none;" href="/professor/{{professor.pk}}/"><h4>{{ professor.name }} </h4></a>
                            <p>{{ professor.professor_type }}</p>
                            <p>{{ professor.interest_areas }}</p>
                            <p>Posted on: {{ professor.createdon}}</p>
                            <!-- <p>Deadline: {{ professor.deadline}}</p> -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div style="margin-bottom: -12px;" class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h3 style="font-weight: bold; letter-spacing: .05em;">All Professors</h3>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button style="margin-bottom: -12px;" id="filter" type="button" class="btn btn-sm btn-primary pull-right">Filter</button>
                </div>
            </div>
            <hr style="width: 100%; color: #005A6A; height: 2px; background-color:#005A6A;" />
            <div class="center">
                <div class="row">
                    {% for professor in professors %}
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="panel panel-primary">
                            <a href=""><img src="files/{{ professor.image_file }}" class="img-responsive" alt="Image"></a>
                            <div class="panel-body" id="collapseExample{{ professor.pk }}">
                                <a style="text-decoration: none;" href="/professor/{{professor.pk}}/"><h4>{{ professor.name }} </h4></a>
                                <p>{{ professor.professor_type }}</p>
                                <p>{{ professor.interest_areas }}</p>
                                <p>Posted on: {{ professor.createdon}}</p>
                                <!-- <p>Deadline: {{ professor.deadline}}</p> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
