{% extends "projectile/base_modals.html" %} {% load bootstrap3 %} {% block pagelibraries %} {{ form.media }} {% endblock %} {% block content %}
<br/>
<button style="margin-top: -15px;" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<div class="container-fluid">
	<div class="well">
    	<div class="row">
    		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
			</div>
    		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <p>B.Tech</p>
                        <p>CSE (4th year)</p>
                        <p>kartik13050@iiitd.ac.in</p>
                        <p>2013050</p>
			</div>
    	</div>
    	<h3><b>Ongoing Projects</b></h3>
    	<hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
    	<p>Present Project #1</p>
    	<p>Present Project #2</p>
    	<h3>Past Projects</h3>
    	<hr style="width: 100%;  height: 2px; background-color:#005A6A;" />
    	<div class="row">
    		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    		<p>Past Project #1</p>
    		<p>Past Project #1</p>
    		<p>Past Project #1</p>
    		<p>Past Project #1</p>
    		</div>
    		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    		<p>Past Project #1</p>
    		<p>Past Project #1</p>
    		<p>Past Project #1</p>
    		<p>Past Project #12</p>
    		</div>
    	</div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="circle-avatar" style="background-image:url(http://placekitten.com/g/200/400)"></div>
        </div>
    </div>
</div>
{% endblock %}