{% extends "projectile/base_loggedout.html" %}

{% block content %}

<!-- <div class="jumbotron">
  <div align="center">
    <br/> <br/>
    <h1>Projectile</h1>
    <h3>IIIT Delhi's Placement Portal</h3>
  </div>
</div> -->
<br/>
<br/>
<br/>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
          <div align="center">
          <button type="button" class="btn btn-primary"><h3>Apply for Projects</h3>
          <p>For Students</p>
          </button>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div align="center">
          <button type="button" class="btn btn-primary"><h3>Create Projects</h3>
          <p>For Professors</p>
          </button>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div align="center">
          <button type="button" class="btn btn-primary"><h3>Profile Management</h3>
          <p>To avoid sending multiple emails</p>
          </button>
          </div>
        </div>
</div>

      <!-- Three columns of text below the carousel -->
        <!-- /.col-lg-4 -->
</div><!-- /.container -->
<div class="row">
  <h2 class="text-center">What is Projectile?</h2>
</div>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-5">
    <a href=""><img src="../../static/images/project.jpeg" class="img-responsive" alt="Image"></a>
  </div>
  <div class="col-lg-5">
    <p>The Institute is organized as research groups and education programs, and has not maintained strong department boundaries. However, faculty can be broadly grouped according to their disciplines which are given below. Apart from those listed below, the institute also has a number of Guest, Adjunct and Visiting faculty members in various disciplines. They can be found on this page.</p>
  </div>
  <div class="col-lg-1"></div>
</div>
{% endblock %}
