{% extends "projectile/base_loggedout.html" %}

{% block content %}

<!-- <div class="jumbotron">
  <div align="center">
    <br/> <br/>
    <h1>Projectile</h1>
    <h3>IIIT Delhi's Placement Portal</h3>
  </div>
</div> -->
<br/>
<br/>
<br/>

<div class="container ">

      <!-- Three columns of text below the carousel -->
      <div class="row well">
        <div class="col-lg-4">
          <div align="center">
          <h1><span class="glyphicon glyphicon-ok" style="color:blue"></span></h1>
          <h2>Apply for Projects</h2>
          <p>View project posts and apply to them online.</p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div align="center">
          <h1><span class="glyphicon glyphicon-bell" style="color:orange"></span></h1>
          <h2>Notifications</h2>
          <p>Get all the latest project updates right in your inbox.</p>
          </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div align="center">
          <h1><span class="glyphicon glyphicon-file" style="color:green"></span></h1>
          <h2>Profile Management</h2>
          <p>Manage your CV and SoP online. No need to send multiple emails to update them.</p>
          </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}
