{% extends "projectile/base_loggedout.html" %}

{% block content %}

<!-- <div class="jumbotron">
  <div align="center">
    <br/> <br/>
    <h1>Projectile</h1>
    <h3>IIIT Delhi's Placement Portal</h3>
  </div>
</div> -->
<br/>
<br/>
<br/>

<div style="margin:0px; padding:70px; background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
          <div style="padding:15px; color:white; background-color: #00796B; text-align: center;">
            <h3><b>Apply for Projects</b></h3>
            <p>For Students</p>
          </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div style="padding:15px; color:white; background-color: #00796B; text-align: center;">
            <h3><b>Create Projects</b></h3>
            <p>For Professors</p>
          </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div style="padding:15px; color:white; background-color: #00796B; text-align: center;">
          <h3><b>Profile Management</b></h3>
          <p>To avoid sending multiple emails</p>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<!-- <div style="padding: 0px; margin:0px;" class="jumbotron"> -->
<div style="margin:0px; padding:0px; background-color: rgb(230,230,230);">
  <div style="padding:30px;"" class="container">
    <div class="row">
      <h1 class="text-center"><b>What is Projectile?</b></h1>
    </div>
    <br/>
    <div class="row">
      <h3 class="text-center">Projectile is designed with just one goal - to help students apply for projects easily.</h3>
    </div>
    <br/>
     <div class="row">
      <h4 class="text-center">You shouldn't have to worry about setups, communication, emails or even the time hassle. Projectile gets out of the way to enable you to do what you do best.</h4>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div style="text-align: center;" class="col-lg-6">
          <img class="img-responsive" style="width: 30%; margin: 0 auto;" src="/files/images/student.png"/>
          <h3>For Students</h3>
      </div>
      <div style="text-align: center;" class="col-lg-6">
          <img class="img-responsive" style="width: 30%; margin: 0 auto;" src="/files/images/prof.png"/>
          <h3>For Professors</h3>
      </div>
      <!-- <h4 class="text-center">You shouldn't have to worry about setups, integrations, LTI or even the word LMS. Backpack gets out of the way to enable you to do what you do best - spread knowledge.</h4> -->
    </div>
    <br/>
  </div>
</div>

<div style="margin:0px; padding:0px; background-color: #00796B;">
  <div style="padding:30px;"" class="container">
    <div class="row">
      <h1 style="color: white;" class="text-center"><b>What do we provide?</b></h1>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div style="text-align: center;" class="col-lg-3">
          <img class="img-responsive" style="width: 30%; margin: 0 auto;" src="/files/images/info.png"/>
          <h4 style="color: rgb(230,230,230);">Consolidated Information</h4>
      </div>
      <div style="text-align: center;" class="col-lg-3">
          <img class="img-responsive" style="width: 30%; margin: 0 auto;" src="/files/images/shake.png"/>
          <h4 style="color: rgb(230,230,230);">Easy communication</h4>
      </div>
      <div style="text-align: center;" class="col-lg-3">
          <img class="img-responsive" style="width: 30%; margin: 0 auto;" src="/files/images/email.png"/>
          <h4 style="color: rgb(230,230,230);">No Email dependency</h4>
      </div>
       <div style="text-align: center;" class="col-lg-3">
          <img class="img-responsive" style="width: 30%; margin: 0 auto;" src="/files/images/progress.png"/>
          <h4 style="color: rgb(230,230,230);">Easy escalation</h4>
      </div>
      <!-- <h4 class="text-center">You shouldn't have to worry about setups, integrations, LTI or even the word LMS. Backpack gets out of the way to enable you to do what you do best - spread knowledge.</h4> -->
    </div>
    <br/>
  </div>
</div>
<div id="main" style="margin:0px; padding:0px; background-color: white;">
  <div style="padding:30px;"" class="container">
    <div class="row">
      <div style="text-align: center;" class="col-lg-6">
        <h2> <b>For Students </b></h2>
        <br/>
        <h4>All the information about projects at one place. </h4>
        <h4>No more being dependent on emails for a long time.</h4>
        <h4>Find out information about all the professors of our Institute.</h4>
      </div>
      <div style="text-align: center;" class="col-lg-6">
        <h2> <b>For Professors </b></h2>
        <br/>
        <h4>Much easier to shortlist students. </h4>
        <h4>Just provide your website and we'll showcase your work.</h4>
        <h4>No more delays and time hassle.</h4>
      </div>
      <!-- <h1 class="text-center"><b>What is Projectile?</b></h1> -->
    </div>
    <br/>
  </div>
</div>
<!-- </div> -->

<!-- <div class="row">
  <h2 class="text-center">What is Projectile?</h2>
</div> -->
<!-- <div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-5">
    <a href=""><img src="../../static/images/project.jpeg" class="img-responsive" alt="Image"></a>
  </div>
  <div class="col-lg-5">
    <p>The Institute is organized as research groups and education programs, and has not maintained strong department boundaries. However, faculty can be broadly grouped according to their disciplines which are given below. Apart from those listed below, the institute also has a number of Guest, Adjunct and Visiting faculty members in various disciplines. They can be found on this page.</p>
  </div>
  <div class="col-lg-1"></div>
</div> -->
{% endblock %}
